.bouquet-container {
  flex: 3;
  padding: 25px;
  overflow: auto;
  margin-left: 21%;
  #no-bouquets {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  .profile-btns {
    border: 2px solid #e97878;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #e97878;
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px #615858;
    &:hover {
      color: #3d407d;
    }
  }
}
// background: #99EDE3;
