.feed {
  background-color: #99EDE3;
  padding: 2em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
  }
  .nothing {
    text-align: center;
  }
  .feed-container {
    overflow: auto;
    .feed-box {
      // width: 70%;
    }
  }
}
