.feed {
  background-color: #99EDE3;
  padding: 2em;
  min-height: 100%;
  h1 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
  }
  .nothing {
    text-align: center;
  }
  .feed-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    .feed-box {
      width: 70%;
    }
  }
}
