.flower-circle {
  // border: 1px solid red;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  .flwr-img {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    transition: 0.5s;
    &:hover {
      filter: blur(2px);
      // background-color: blue;
    }
  }
}
