.loading-div {
  border: 3px solid #9EA2F2;
  background-color: #C6C6F7;
  border-radius: 20px;
  margin: 27px;
  padding: 10px;
  box-shadow: 6px 6px #808080b5;
  zoom: 0.5;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .the-plant {
    height: 150px;
  }
  p {
    text-align: center;
  }
}
