.tone-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  .tone-single {
    border: 2px solid #e97878;
    border-radius: 5px;
    padding: 15px;
    background-color: #e97878;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px #615858;
    zoom: 0.8;
    &:hover {
      color: #3d407d;
    }
  }
}
